# Ignorar binário do Tailwind (se ainda existir)
frontend/agenda-medica/tools/tailwind/tailwindcss

# Ignorar resultados de teste do vitest/playwright
frontend/agenda-medica/test-results/

# Ignorar banco fake do JSON Server
json-server/db.json
../json-server/db.json
./json-server/db.json
json-server/